$header-font-family: 'Forum', cursive;
$header-h2-size: 8rem;
$header-h2-lineheight: 9rem;

$plain-text-font-family: 'Roboto', sans-serif;

$plain-text-font-family-light: 'Roboto Slab', serif;

h1, h2 {
  font-family: $header-font-family;
  font-size: $header-h2-size;
  letter-spacing: .5rem;
  text-transform: uppercase;
  position: relative;
}
