.header {
	width: 192rem;
	height: 20rem;
  display: flex;
  justify-content: center;
  background-color: #030303;
  margin: 0 auto;
	
  &-container {
    color: #ffffff;
    width: 144rem;
    padding: 7.5rem 0;
    display: flex;
    justify-content: flex-start;

    &-logo {
			margin-right: 52.5rem;
      width: 19.5rem;
      height: 5rem;
      display: flex;
			align-items: center;
      text-transform: uppercase;
			font-family: $header-font-family;
      font-size: 2.8rem;
      line-height: 5rem;
			letter-spacing: 0.5rem;

      img { 
        width: 5rem;
        height: 3.4rem;
				margin-right: 2rem;
        padding-bottom: .8rem;
      }

    }

    &-nav {
			width: 72rem;;
			height: 5rem;

      ul {
        list-style: none;
        display: flex;
				align-items: center;
				font-family: $plain-text-font-family-light;
				font-size: 2.2rem;
        li {
          margin-right: 7.7rem;
          &:last-of-type{
            margin-right: 0;
          }
          &:nth-of-type(1){
            letter-spacing: .03rem;
          }
          &:nth-of-type(2), &:nth-of-type(3){
            letter-spacing: .07rem;
          }
          &:nth-of-type(4){
            letter-spacing: .1rem;
          }
          &:nth-of-type(5){
            letter-spacing: .14rem;
          }

          a {
						line-height: 4.7rem;
            text-decoration: none;
						&:link,	&:visited {
              color: #FFFFFF;
						}
            &:hover, &:active{
              color:#9D8665;
            }
          }
        }
      }
    }
  }
}
