main {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  section {
    width: 100vw;
    background-color: #030303;
    &:nth-child(even) {
      background-color: #fff;
    }
  }

  //------------------------------------------------------------------
  //												WELCOME SECTION
  //------------------------------------------------------------------

  .welcome {
    height: 75rem;
    padding: 11.4rem 0 0 24rem;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    background-image: url('../../museum/assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: 121.5rem 75rem;
    background-position: left 70.5rem bottom 0rem;

    &-container {
      z-index: 10;
      width: 60rem;
      height: 39rem;
      p {
        margin-top: 2.6rem;
        margin-bottom: 7.6rem;
        font-family: $plain-text-font-family;
        font-size: 2.8rem;
        line-height: 3.3rem;
        letter-spacing: 0.2rem;
      }
      button {
        border: 0;
        border-radius: 1rem;
        width: 36rem;
        height: 7.5rem;
        font-family: $plain-text-font-family-light;
        font-size: 2.45rem;
        line-height: 2.6rem;
        background-color: #710707;
        color: #ffffff;
        transition: background-color 0.45s;
        &:hover {
          background-color: #9d8665;
        }
      }
    }
    h1 {
      display: none;
    }
  }

  //------------------------------------------------------------------
  //												VISITING SECTION
  //------------------------------------------------------------------

  .visiting {
    width: 100vw;
    padding: 0 24rem;
    height: 126.5rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      margin-top: 6rem;
      color: #9d8665;
    }

    h2::after {
      content: '';
      position: absolute;
      left: 0;
      display: inline-block;
      height: 1em;
      width: 100%;
      border-bottom: 0.3rem solid #710707;
      margin-top: 3.9rem;
    }

    &-cards {
      width: 144rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      a,
      a:hover,
      a:active,
      a:visited {
        text-decoration: none;
      }

      .card-row-1 {
        margin-bottom: 7rem;
      }
      .card-row-2 {
        margin-bottom: 8.2rem;
      }

      &-card {
        width: 44rem;
        height: 43rem;
        color: #000000;
        position: relative;

        &:hover,
        &:active {
          h3::after {
            width: 100%;
          }
        }

        h3 {
          margin-top: 2.5rem;
          font-family: $header-font-family;
          font-size: 3.2rem;
          line-height: 3.5rem;
          text-transform: uppercase;
          letter-spacing: 0.5rem;
          &::after {
            transition: width 1s;
            content: '';
            position: absolute;
            left: 0;
            display: inline-block;
            height: 1em;
            width: 30rem;
            border-bottom: 0.3rem solid #710707;
            margin-top: 1.3rem;
          }
        }

        P {
          margin-top: 2.1rem;
          font-family: $plain-text-font-family;
          font-weight: 200;
          font-size: 2.2rem;
          line-height: 2.6rem;
          letter-spacing: -0.01rem;

          &:last-of-type {
            margin-top: 1rem;
            font-size: 1.8rem;
            line-height: 2.1rem;
          }
        }
      }
    }
  }

  //------------------------------------------------------------------
  //												EXPLORE SECTION
  //------------------------------------------------------------------

  .explore {
    width: 100vw;
    padding: 0 24rem;
    height: 86.5rem;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;

    &-description {
      margin-top: 7.4rem;
      margin-right: 6rem;

      h2::after {
        content: '';
        position: absolute;
        left: 0;
        display: inline-block;
        height: 1em;
        width: 100%;
        border-bottom: 0.3rem solid #710707;
        margin-top: 3.9rem;
      }

      p {
        width: 65.9rem;
        font-family: $plain-text-font-family;
        font-size: 2.2rem;
        line-height: 3.8rem;
        margin-top: 2.6rem;
        &:first-of-type {
          margin-top: 10.5rem;
        }
      }
    }

    &-img {
      margin-top: 9rem;
    }
  }

  //------------------------------------------------------------------
  //												VIDEO SECTION
  //------------------------------------------------------------------

  .video {
    width: 100vw;
    padding: 0 24rem;
    height: 101rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;

    &-description {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      margin-top: 4rem;
      margin-bottom: 7.5rem;

      h2 {
        color: #9d8665;
      }
      p {
        padding-top: 0.5rem;
        padding-left: 11.5rem;
        align-content: center;
        align-self: center;
        width: 83rem;
        height: 9rem;
        font-family: $plain-text-font-family;
        font-size: 2.2rem;
        line-height: 4rem;
        color: #000000;
      }
    }

    &-player {
      &-container {
        display: flex;
        position: relative;
        margin-top: 9rem;

        .player {
          width: 144rem;
          height: 62.9rem;
        }

        button {
          position: absolute;
          top: 25.5rem;
          left: 68.6rem;
          border: none;
          background-color: transparent;
          img {
            z-index: 10;
            transition: 0.3s;
          }
          &:hover,
          img:hover {
            cursor: pointer;
            color: #989898;
          }
        }

        .in-video {
          &-2 {
            position: absolute;
            top: 20.5rem;
            left: 61rem;
          }
        }
      }
      &-panel {
        padding-top: 0.2rem;
        width: 144rem;
        height: 9rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: black;

        input {
          border-radius: 0.2rem;
          &:first-of-type {
            margin-left: 4rem;
            width: 82.3rem;
          }
          &:last-of-type {
            margin-left: 1.8rem;
            width: 15.5rem;
          }
        }
        .player-panel-btn {
          &-1 {
            margin-left: 4.1rem;
          }
          &-2 {
            margin-left: 4.1rem;
          }
          &-3 {
            margin-left: 4.1rem;
          }
          &-4 {
            margin-left: 4rem;
          }
          &-5 {
            margin-left: 4.9rem;
          }
        }
        button {
          border: none;
          background-color: transparent;
        }

        button:hover {
          cursor: pointer;
        }
      }
    }
  }

  //------------------------------------------------------------------
  //												TICKETS SECTION
  //------------------------------------------------------------------

  .tickets {
    width: 100vw;
    height: 89.3rem;
    color: #ffffff;
    padding: 0 24rem;
    display: flex;
    flex-direction: column;

    h2 {
      margin-top: 7.5rem;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        display: inline-block;
        height: 1em;
        width: 100%;
        border-bottom: 0.3rem solid #710707;
        margin-top: 3.6rem;
      }
    }

    &-container {
      margin-top: 10rem;
      display: flex;

      h4 {
        font-family: $header-font-family;
        font-size: 3rem;
        line-height: 3.3rem;
        margin-top: 0.1rem;
        margin-left: 0.2rem;
        letter-spacing: 0.09rem;
        text-transform: capitalize;
      }

      span {
        font-family: $plain-text-font-family;
        font-size: 2.2rem;
        line-height: 2rem;
      }

      &-tickets-type {
        width: 27rem;
        margin-left: 6rem;
        display: flex;
        flex-direction: column;

        span {
          width: calc(23rem + 1.7rem + 2.3rem);
          margin-top: 5.5rem;
        }

        input {
          width: 1.7rem;
          height: 1.7rem;
          margin-right: 2.3rem;
        }
      }

      &-tickets-amount {
        margin-left: 24rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        text-align: right;

        h4 {
          letter-spacing: 0.03rem;
          margin-left: 0.2rem;
          margin-bottom: 1.6rem;
        }

        span {
          text-align: left;
        }

        input {
          width: 15rem;
          height: 5rem;
          padding-left: 1.5rem;
          background-color: #000000;
          color: #fff;
          font-family: $plain-text-font-family;
          text-align: center;
          font-size: 2.2rem;
          line-height: 2.8rem;
          border-radius: 0.1rem;
          border: 0.1rem solid #fff;

          &:first-of-type {
            margin-top: 1.6rem;
            margin-bottom: 3.9rem;
          }
        }

        p {
          margin-top: 1.1rem;
          margin-right: 0.2rem;
          letter-spacing: 0.17rem;
          font-family: $plain-text-font-family;
          font-size: 2.8rem;
          line-height: 3.3rem;
          font-weight: bold;
        }

        .ticket-button {
          margin-left: -2.5rem;
          margin-top: 5rem;
          padding-top: 0.2rem;
          letter-spacing: 0.21rem;
          width: 17.5rem;
          height: 5rem;
          font-family: $plain-text-font-family;
          font-size: 2.2rem;
          line-height: 2.6rem;
          color: #000000;
          transition: background-color 0.45s;
          &:hover {
            background-color: #9d8665;
          }
        }
      }
    }
  }

  //------------------------------------------------------------------
  //												CONTACTS SECTION
  //------------------------------------------------------------------

  .contacts {
    width: 100vw;
    height: 96.2rem;
    color: #ffffff;
    padding: 0 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      margin-top: 7.5rem;
      color: #9d8665;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        display: inline-block;
        height: 1em;
        width: 100%;
        border-bottom: 0.3rem solid #710707;
        margin-top: 3.7rem;
      }
    }

    &-container {
      margin-top: 10rem;
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      &-info {
        color: #000000;
        font-family: $plain-text-font-family;
        h4 {
          margin-top: 1.2rem;
          margin-bottom: 3.6rem;
          font-size: 2.8rem;
          line-height: 3.3rem;
          letter-spacing: 0.035rem;
        }
        p {
          margin-bottom: 2rem;
          font-size: 2.2rem;
          line-height: 2.6rem;
          &:first-of-type {
            margin-top: 3.8rem;
          }
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
      img {
        margin-bottom: 8rem;
      }
    }
  }
}
