*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

h1, h2 {
  font-family: "Forum", cursive;
  font-size: 8rem;
  line-height: 9rem;
  letter-spacing: .5rem;
  text-transform: uppercase;
  position: relative; }

.footer {
  width: 100vw;
  height: 30rem;
  background-color: #030303;
  margin: 0 auto; }
  .footer-container {
    padding: 7.5rem 0 0 24rem;
    width: 144rem;
    height: 15rem;
    display: flex;
    justify-content: flex-start; }
    .footer-container-logo {
      color: #fff;
      width: 19.5rem;
      height: 5rem;
      margin-right: 13.5rem;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-family: "Forum", cursive;
      font-size: 2.8rem;
      line-height: 5rem;
      letter-spacing: 0.5rem; }
      .footer-container-logo img {
        width: 5rem;
        height: 3.4rem;
        margin-bottom: 0.65rem;
        margin-right: 2rem; }
    .footer-container nav:first-of-type {
      width: 37rem;
      height: 15rem;
      margin-right: 40.4rem; }
      .footer-container nav:first-of-type ul li:nth-of-type(odd) {
        letter-spacing: 0.08rem;
        text-align: left; }
      .footer-container nav:first-of-type ul li:nth-of-type(even) {
        letter-spacing: 0.13rem;
        text-align: right; }
    .footer-container nav ul {
      list-style: none;
      display: flex; }
    .footer-container-nav {
      width: 45rem;
      height: 15rem;
      flex-wrap: wrap;
      justify-content: flex-start;
      font-family: "Roboto Slab", serif;
      font-size: 2.2rem; }
      .footer-container-nav li {
        padding: 0 1rem; }
        .footer-container-nav li:nth-child(odd) {
          width: 25.9rem; }
        .footer-container-nav li a {
          line-height: 5rem;
          text-decoration: none;
          transition: color .45s; }
          .footer-container-nav li a:link, .footer-container-nav li a:visited {
            color: #ffffff; }
          .footer-container-nav li a:hover, .footer-container-nav li a:active {
            color: #9d8665; }
    .footer-container-social {
      margin-top: 8.8rem;
      width: 34rem;
      height: 5rem; }
      .footer-container-social li:nth-of-type(1) {
        padding-top: 0.30rem;
        padding-left: 1rem; }
      .footer-container-social li:nth-of-type(2) {
        margin-left: 2.4rem;
        padding-top: 0.5rem;
        padding-left: 1.1rem; }
      .footer-container-social li:nth-of-type(3) {
        margin-left: 2.4rem;
        padding-top: 0.5rem;
        padding-left: 1.6rem; }
      .footer-container-social li:nth-of-type(4) {
        margin-left: 2.4rem;
        padding-top: 0.5rem;
        padding-left: 1.2rem; }
      .footer-container-social li:nth-of-type(5) {
        margin-left: 2.4rem;
        padding-top: 0.6rem;
        padding-left: 1.2rem; }
      .footer-container-social li {
        width: 4.8rem;
        height: 4.8rem;
        line-height: 4.5rem;
        border: 0.2rem solid #666666;
        padding: 0.2rem 1rem;
        border-radius: 50%;
        transition: border .3s; }
        .footer-container-social li:hover {
          text-decoration: none;
          border: 0.2rem solid #9d8665; }

.header {
  width: 100vw;
  height: 20rem;
  display: flex;
  background-color: #030303; }
  .header-container {
    color: #ffffff;
    margin-left: 24rem;
    width: 144rem;
    padding: 7.5rem 0;
    display: flex;
    justify-content: flex-start; }
    .header-container-logo {
      margin-right: 52.5rem;
      width: 19.5rem;
      height: 5rem;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-family: "Forum", cursive;
      font-size: 2.8rem;
      line-height: 5rem;
      letter-spacing: 0.5rem; }
      .header-container-logo img {
        width: 5rem;
        height: 3.4rem;
        margin-right: 2rem;
        padding-bottom: .8rem; }
    .header-container-nav {
      width: 72rem;
      height: 5rem; }
      .header-container-nav ul {
        list-style: none;
        display: flex;
        align-items: center;
        font-family: "Roboto Slab", serif;
        font-size: 2.2rem; }
        .header-container-nav ul li {
          margin-right: 7.7rem; }
          .header-container-nav ul li:last-of-type {
            margin-right: 0; }
          .header-container-nav ul li:nth-of-type(1) {
            letter-spacing: .03rem; }
          .header-container-nav ul li:nth-of-type(2), .header-container-nav ul li:nth-of-type(3) {
            letter-spacing: .07rem; }
          .header-container-nav ul li:nth-of-type(4) {
            letter-spacing: .1rem; }
          .header-container-nav ul li:nth-of-type(5) {
            letter-spacing: .14rem; }
          .header-container-nav ul li a {
            line-height: 4.7rem;
            text-decoration: none;
            transition: .4s; }
            .header-container-nav ul li a:link, .header-container-nav ul li a:visited {
              color: #FFFFFF; }
            .header-container-nav ul li a:hover, .header-container-nav ul li a:active {
              color: #9D8665; }

main {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; }
  main section {
    width: 100vw;
    background-color: #030303; }
    main section:nth-child(even) {
      background-color: #fff; }
  main .welcome {
    height: 75rem;
    padding: 11.4rem 0 0 24rem;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    background-image: url("../../museum/assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: 121.5rem 75rem;
    background-position: left 70.5rem bottom 0rem; }
    main .welcome-container {
      z-index: 10;
      width: 60rem;
      height: 39rem; }
      main .welcome-container p {
        margin-top: 2.6rem;
        margin-bottom: 7.6rem;
        font-family: "Roboto", sans-serif;
        font-size: 2.8rem;
        line-height: 3.3rem;
        letter-spacing: 0.2rem; }
      main .welcome-container button {
        border: 0;
        border-radius: 1rem;
        width: 36rem;
        height: 7.5rem;
        font-family: "Roboto Slab", serif;
        font-size: 2.45rem;
        line-height: 2.6rem;
        background-color: #710707;
        color: #ffffff;
        transition: background-color 0.45s; }
        main .welcome-container button:hover {
          background-color: #9d8665; }
    main .welcome h1 {
      display: none; }
  main .visiting {
    width: 100vw;
    padding: 0 24rem;
    height: 126.5rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    main .visiting h2 {
      margin-top: 6rem;
      color: #9d8665; }
    main .visiting h2::after {
      content: '';
      position: absolute;
      left: 0;
      display: inline-block;
      height: 1em;
      width: 100%;
      border-bottom: 0.3rem solid #710707;
      margin-top: 3.9rem; }
    main .visiting-cards {
      width: 144rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      main .visiting-cards a,
      main .visiting-cards a:hover,
      main .visiting-cards a:active,
      main .visiting-cards a:visited {
        text-decoration: none; }
      main .visiting-cards .card-row-1 {
        margin-bottom: 7rem; }
      main .visiting-cards .card-row-2 {
        margin-bottom: 8.2rem; }
      main .visiting-cards-card {
        width: 44rem;
        height: 43rem;
        color: #000000;
        position: relative; }
        main .visiting-cards-card:hover h3::after, main .visiting-cards-card:active h3::after {
          width: 100%; }
        main .visiting-cards-card h3 {
          margin-top: 2.5rem;
          font-family: "Forum", cursive;
          font-size: 3.2rem;
          line-height: 3.5rem;
          text-transform: uppercase;
          letter-spacing: 0.5rem; }
          main .visiting-cards-card h3::after {
            transition: width 1s;
            content: '';
            position: absolute;
            left: 0;
            display: inline-block;
            height: 1em;
            width: 30rem;
            border-bottom: 0.3rem solid #710707;
            margin-top: 1.3rem; }
        main .visiting-cards-card P {
          margin-top: 2.1rem;
          font-family: "Roboto", sans-serif;
          font-weight: 200;
          font-size: 2.2rem;
          line-height: 2.6rem;
          letter-spacing: -0.01rem; }
          main .visiting-cards-card P:last-of-type {
            margin-top: 1rem;
            font-size: 1.8rem;
            line-height: 2.1rem; }
  main .explore {
    width: 100vw;
    padding: 0 24rem;
    height: 86.5rem;
    color: #ffffff;
    display: flex;
    justify-content: flex-start; }
    main .explore-description {
      margin-top: 7.4rem;
      margin-right: 6rem; }
      main .explore-description h2::after {
        content: '';
        position: absolute;
        left: 0;
        display: inline-block;
        height: 1em;
        width: 100%;
        border-bottom: 0.3rem solid #710707;
        margin-top: 3.9rem; }
      main .explore-description p {
        width: 65.9rem;
        font-family: "Roboto", sans-serif;
        font-size: 2.2rem;
        line-height: 3.8rem;
        margin-top: 2.6rem; }
        main .explore-description p:first-of-type {
          margin-top: 10.5rem; }
    main .explore-img {
      margin-top: 9rem; }
  main .video {
    width: 100vw;
    padding: 0 24rem;
    height: 101rem;
    color: #ffffff;
    display: flex;
    flex-direction: column; }
    main .video-description {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      margin-top: 4rem;
      margin-bottom: 7.5rem; }
      main .video-description h2 {
        color: #9d8665; }
      main .video-description p {
        padding-top: 0.5rem;
        padding-left: 11.5rem;
        align-content: center;
        align-self: center;
        width: 83rem;
        height: 9rem;
        font-family: "Roboto", sans-serif;
        font-size: 2.2rem;
        line-height: 4rem;
        color: #000000; }
    main .video-player-container {
      display: flex;
      position: relative;
      margin-top: 9rem; }
      main .video-player-container .player {
        width: 144rem;
        height: 62.9rem; }
      main .video-player-container button {
        position: absolute;
        top: 25.5rem;
        left: 68.6rem;
        border: none;
        background-color: transparent; }
        main .video-player-container button img {
          z-index: 10;
          transition: 0.3s; }
        main .video-player-container button:hover,
        main .video-player-container button img:hover {
          cursor: pointer;
          color: #989898; }
      main .video-player-container .in-video-2 {
        position: absolute;
        top: 20.5rem;
        left: 61rem; }
    main .video-player-panel {
      padding-top: 0.2rem;
      width: 144rem;
      height: 9rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: black; }
      main .video-player-panel input {
        border-radius: 0.2rem; }
        main .video-player-panel input:first-of-type {
          margin-left: 4rem;
          width: 82.3rem; }
        main .video-player-panel input:last-of-type {
          margin-left: 1.8rem;
          width: 15.5rem; }
      main .video-player-panel .player-panel-btn-1 {
        margin-left: 4.1rem; }
      main .video-player-panel .player-panel-btn-2 {
        margin-left: 4.1rem; }
      main .video-player-panel .player-panel-btn-3 {
        margin-left: 4.1rem; }
      main .video-player-panel .player-panel-btn-4 {
        margin-left: 4rem; }
      main .video-player-panel .player-panel-btn-5 {
        margin-left: 4.9rem; }
      main .video-player-panel button {
        border: none;
        background-color: transparent; }
      main .video-player-panel button:hover {
        cursor: pointer; }
  main .tickets {
    width: 100vw;
    height: 89.3rem;
    color: #ffffff;
    padding: 0 24rem;
    display: flex;
    flex-direction: column; }
    main .tickets h2 {
      margin-top: 7.5rem; }
      main .tickets h2:after {
        content: '';
        position: absolute;
        left: 0;
        display: inline-block;
        height: 1em;
        width: 100%;
        border-bottom: 0.3rem solid #710707;
        margin-top: 3.6rem; }
    main .tickets-container {
      margin-top: 10rem;
      display: flex; }
      main .tickets-container h4 {
        font-family: "Forum", cursive;
        font-size: 3rem;
        line-height: 3.3rem;
        margin-top: 0.1rem;
        margin-left: 0.2rem;
        letter-spacing: 0.09rem;
        text-transform: capitalize; }
      main .tickets-container span {
        font-family: "Roboto", sans-serif;
        font-size: 2.2rem;
        line-height: 2rem; }
      main .tickets-container-tickets-type {
        width: 27rem;
        margin-left: 6rem;
        display: flex;
        flex-direction: column; }
        main .tickets-container-tickets-type span {
          width: calc(23rem + 1.7rem + 2.3rem);
          margin-top: 5.5rem; }
        main .tickets-container-tickets-type input {
          width: 1.7rem;
          height: 1.7rem;
          margin-right: 2.3rem; }
      main .tickets-container-tickets-amount {
        margin-left: 24rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        text-align: right; }
        main .tickets-container-tickets-amount h4 {
          letter-spacing: 0.03rem;
          margin-left: 0.2rem;
          margin-bottom: 1.6rem; }
        main .tickets-container-tickets-amount span {
          text-align: left; }
        main .tickets-container-tickets-amount input {
          width: 15rem;
          height: 5rem;
          padding-left: 1.5rem;
          background-color: #000000;
          color: #fff;
          font-family: "Roboto", sans-serif;
          text-align: center;
          font-size: 2.2rem;
          line-height: 2.8rem;
          border-radius: 0.1rem;
          border: 0.1rem solid #fff; }
          main .tickets-container-tickets-amount input:first-of-type {
            margin-top: 1.6rem;
            margin-bottom: 3.9rem; }
        main .tickets-container-tickets-amount p {
          margin-top: 1.1rem;
          margin-right: 0.2rem;
          letter-spacing: 0.17rem;
          font-family: "Roboto", sans-serif;
          font-size: 2.8rem;
          line-height: 3.3rem;
          font-weight: bold; }
        main .tickets-container-tickets-amount .ticket-button {
          margin-left: -2.5rem;
          margin-top: 5rem;
          padding-top: 0.2rem;
          letter-spacing: 0.21rem;
          width: 17.5rem;
          height: 5rem;
          font-family: "Roboto", sans-serif;
          font-size: 2.2rem;
          line-height: 2.6rem;
          color: #000000;
          transition: background-color 0.45s; }
          main .tickets-container-tickets-amount .ticket-button:hover {
            background-color: #9d8665; }
  main .contacts {
    width: 100vw;
    height: 96.2rem;
    color: #ffffff;
    padding: 0 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    main .contacts h2 {
      margin-top: 7.5rem;
      color: #9d8665; }
      main .contacts h2:after {
        content: '';
        position: absolute;
        left: 0;
        display: inline-block;
        height: 1em;
        width: 100%;
        border-bottom: 0.3rem solid #710707;
        margin-top: 3.7rem; }
    main .contacts-container {
      margin-top: 10rem;
      display: flex;
      justify-content: space-between;
      flex-direction: row; }
      main .contacts-container-info {
        color: #000000;
        font-family: "Roboto", sans-serif; }
        main .contacts-container-info h4 {
          margin-top: 1.2rem;
          margin-bottom: 3.6rem;
          font-size: 2.8rem;
          line-height: 3.3rem;
          letter-spacing: 0.035rem; }
        main .contacts-container-info p {
          margin-bottom: 2rem;
          font-size: 2.2rem;
          line-height: 2.6rem; }
          main .contacts-container-info p:first-of-type {
            margin-top: 3.8rem; }
          main .contacts-container-info p:last-of-type {
            margin-bottom: 0; }
      main .contacts-container img {
        margin-bottom: 8rem; }
